################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.map
/CountdownWidget/CountdownWidget/bin/Debug
/CountdownWidget/CountdownWidget/node_modules
/CountdownWidget/.vs
/CountdownWidget/CountdownWidget/obj
/CountdownWidget/packages
