################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.map
/CountdownWidget/CountdownWidget/bin/Debug
/CountdownWidget/CountdownWidget/node_modules
/CountdownWidget/.vs
/CountdownWidget/CountdownWidget/obj
/CountdownWidget/packages
/CountdownWidget/CountdownWidget/*.vsix
/CountdownWidget/CountdownWidget/.vs
/.vs
CountdownWidget/CountdownWidget/src/*.js
/CountdownWidget/CountdownWidget/tests/CountdownCalculatorSpec.js
