<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chutzpah" version="4.3.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.22.19-build00125" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.TypeScript" version="0.22.19-build00125" targetFramework="net452" />
  <package id="ReportGenerator" version="2.5.1" targetFramework="net452" />
</packages>